.saved-advice-container {
  background-color: #6F7868;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.add-save-message {
  font-size: 27px;
  font-weight: bold;
  margin-top: 23%;
}