.SearchForm {
  background-color: #6F7868;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.search-form {
  background-color: #F5F9E9;
  border: solid 4px #011627;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  margin-top: 10%;
  width: 500px;
}

.search-input {
  align-self: center;
  background-color: #DBB4A9;
  border-radius: 7px;
  border: solid 3px #011627;
  font-size: 20px;
  height: 10%;
  padding-left: 2%;
  width: 90%;
}

.submit-search-btn {
  align-self: center;
  background-color: #994636;
  border-radius: 7px;
  border: solid 3px #011627;
  cursor: pointer;
  color: #F5F9E9;
  font-size: 18px;
  font-weight: bold;
  margin-top: 2%;
  padding: 2% 0;
  width: 40%;
}

.submit-search-btn:hover {
  background-color: #B55340;
}