.SearchForm {
  display: flex;
  justify-content: center;
}

.search-form {
  justify-content: center;
  display: flex;
  border: solid 1px black;
  flex-direction: column;
  height: 400px;
  margin-top: 10%;
  width: 500px;
}

.search-input {
  align-self: center;
  font-size: 20px;
  height: 10%;
  padding-left: 2%;
  width: 90%;
}

.submit-search-btn {
  font-size: 18px;
  margin-top: 2%;
  padding: 2% 0;
  width: 40%;
}